body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #cccccc;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
}

h2 {
  display: inline-block;
  border-bottom: solid 4px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 40px;
}

h1 {
  -webkit-animation: fadeIn 2s ease 0.2s 1 normal both running;
  animation: fadeIn 2s ease 0.2s 1 normal both running;
  font-family: "Rubik", serif;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ヘッダー 始まり */
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
  background-color: #fff;
  /*box-shadow: 2px 2px 4px gray;*/
  box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.global-nav {
  width: 480px;
  margin: 0 auto;
}

.global-nav ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.global-nav li {
  text-align: center;
}

.global-nav a {
  -webkit-animation: fadeIn 2s ease 0.2s 1 normal both running;
  animation: fadeIn 2s ease 0.2s 1 normal both running;
  color: #000;
  font-family: "Rubik", serif;
  font-size: 24px;
  line-height: 2.5;
}
/* ヘッダー終わり */

.content {
  background-color: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading-sub {
  font-weight: bold;
  font-size: 16px;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #000;
  font-family: "Rubik", serif;
  font-size: 24px;
  line-height: 2.5;
}

#index {
  background-image: url(../images/home-top.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% auto;
}

.top-area {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.top-area .title {
  text-align: center;
  color: #fff;
  font-size: 58px;
}

.about, .skill, .activities {
  padding: 30px 0 60px 0;
}

.about {
  position: relative;
  height: 450px;
  background: #fff;
}

.about .big-avatar {
  position: absolute;
  width: 500px;
  bottom: -100px;
  right: 150px;
  opacity: 0.5;
}

.about .myname {
  position: absolute;
  right: 200px;
  bottom: 270px;
  font-size: 20px;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.about .nickname {
  font-size: 32px;
  font-weight: bold;
  line-height: 3;
}

.languages {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  position: relative;
  padding: 30px 0;
  background: #f5f5f5;
}

.skill .language {
  width: 300px;
  margin: 10px 5px;
  margin-bottom: 30px;
  padding: 20px 0;
  border: solid 3px #000;
  border-radius: 10px;
  background: white;
}

.skill .icon-area {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 20px;
}

.skill .icon {
  width: auto;
  height: 120px;
}

.skill .name {
  text-align: center;
  font-family: "Rubik", serif;
  font-size: 32px;
}

.activity {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  border: solid 3px #000;
  border-radius: 10px;
  background: white;
}

.activity .feature {
  width: 160px;
}

.activity .detail {
  width: 620px;
}

.activity .title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.activity .description::first-letter {
  font-size: 200%;
  font-weight: bold;
}

.activity .nikoli-link {
  display: block;
  width: 260px;
  margin-top: 20px;
  padding: 14px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: #3bb277;
  font-size: 18px;
}

.activity .nikoli-link:hover {
  text-decoration: none;
  color: #ccc;
  background-color: #329966;
}

/* animationプロパティ 開始 */

.hidden {
  overflow: hidden;
}

.profile {
  -webkit-transform: translateX(-960px);
  -ms-transform: translateX(-960px);
  transform: translateX(-960px);
}

.big-avatar {
  -webkit-transform: translateY(340px);
  -ms-transform: translateY(340px);
  transform: translateY(340px);
}

.language {
  -webkit-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.activity:nth-child(1) {
  -webkit-transform: translateX(-960px);
  -ms-transform: translateX(-960px);
  transform: translateX(-960px);
}

.activity:nth-child(2) {
  -webkit-transform: translateX(960px);
  -ms-transform: translateX(960px);
  transform: translateX(960px);
}

.active.profile {
  -webkit-animation: profileAnimation 0.5s ease 0s 1 normal both running;
  animation: profileAnimation 0.5s ease 0s 1 normal both running;
}

.active.big-avatar {
  -webkit-animation: bigAvatarAnimation 0.5s ease 0s 1 normal both running;
  animation: bigAvatarAnimation 0.5s ease 0s 1 normal both running;
}

.active.language {
  -webkit-animation: languageAnimation 0.8s ease-in 0s 1 normal both running;
  animation: languageAnimation 0.8s ease-in 0s 1 normal both running;
}

.active.activity:nth-child(1) {
  -webkit-animation: firstActivityAnimation 0.5s ease 0s 1 normal both running;
  animation: firstActivityAnimation 0.5s ease 0s 1 normal both running;
}

.active.activity:nth-child(2) {
  -webkit-animation: secondActivityAnimation 0.5s ease 0s 1 normal both running;
  animation: secondActivityAnimation 0.5s ease 0s 1 normal both running;
}

@keyframes profileAnimation {
  0% {
    -webkit-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    transform: translateX(-960px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bigAvatarAnimation {
  0% {
    -webkit-transform: translateY(340px);
    -ms-transform: translateY(340px);
    transform: translateY(340px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes languageAnimation {
  0% {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  100% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes firstActivityAnimation {
  0% {
    -webkit-transform: translateX(-960px);
    -ms-transform: translateX(-960px);
    transform: translateX(-960px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes secondActivityAnimation {
  0% {
    -webkit-transform: translateX(960px);
    -ms-transform: translateX(960px);
    transform: translateX(960px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* animationプロパティ 終了 */

/* マルチ解像度対応 開始 */

@media screen and (max-width: 600px) {
  p {
    font-size: 4vw;
  }

  h1 {
    font-size: 7.2vw;
  }

  h2 {
    font-size: 8.6vw;
  }

  .content {
    width: 100%;
  }

  .main {
    width: auto;
    margin: 0 5%;
  }

  #index {
    background-image: url(../images/home-top-sp.jpg);
  }

  .skill .language {
    width: 50%;
  }

  .skill .icon-php {
    width: 120px;
    height: auto;
  }

  .activity {
    width: 100%;
  }

  .activity .feature {
    width: 120px;
    margin: 0 auto 20px auto;
  }

  .activity .detail {
    width: 100%;
  }

  .activity .nikoli-link {
    margin: 20px auto 0 auto;
  }
}

/* マルチ解像度対応 終了 */
